<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <div class="box">
        <div class="pull-right">
          <div style="text-align:center;">
            <%= image_tag '/assets/no_logo.png', :size => '280x150' %>
          </div>
        </div>
        <div class="info">
          <ul>
            <li>
              <span><%= t('profile.name') %></span>
              <strong><%= @profile.name %></strong>
            </li>
            <li>
              <span><%= t('profile.gender') %></span>
              <strong><%= t(@profile.gender) %></strong>
            </li>
            <li>
              <span><%= t('profile.birth') %></span>
              <strong><%= @profile.birth %></strong>
            </li>
            <li>
              <span><%= t('profile.mobile') %></span>
              <strong><%= @profile.mobile %></strong>
            </li>
            <li>
              <span><%= t(:email) %></span>
              <strong><%= @profile.email %></strong>
            </li>
            <li>
              <span><%= t('profile.qq') %></span>
              <strong><%= @profile.qq %></strong>
            </li>
            <li>
              <span><%= t(:university) %></span>
              <strong><%= @profile.university.name %></strong>
            </li>
            <li>
              <span><%= t('profile.stu_no') %></span>
              <strong><%= @profile.stu_no %></strong>
            </li>
            <li>
              <span><%= t('profile.hometown') %></span>
              <strong><%= @profile.hometown %></strong>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="bio">
          <p><%= @profile.bio %></p>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">
            其他选项
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
