  <div class="row-fluid">
    <div class="span8">
      <%= render 'profiles/form' %>
      <div class="box">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'} ) do |f| %>
            <fieldset>
              <legend>帐号信息</legend>
              <div class="row row-grid">
                <div class="span6 offset1">
                  <%= print_error_messages resource %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :email, t(:email), :class => 'control-label'  %>
                <div class="controls">
                  <%= f.email_field :email, :class => 'input-large', :disabled => 'disabled' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :password, "新密码", :class => 'control-label'  %>
                <div class="controls">
                  <%= f.password_field :password, :class => 'input-large' %>
                  <p class="help-block">若不想修改密码请不要填写内容</p>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :password_confirmation, "确认新密码", :class => 'control-label'  %>
                <div class="controls">
                  <%= f.password_field :password_confirmation, :class => 'input-large' %>
                </div>
              </div>
              <div class="control-group">
                <%= f.label :current_password, t(:current_password), :class => 'control-label'  %>
                <div class="controls">
                  <%= f.password_field :current_password, :class => 'input-large' %>
                </div>
              </div>
              <div class="form-actions" >
                <%= f.submit "修改密码", :class => 'btn btn-primary', :disable_with => t('common.waiting') %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>

    <!--
    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">
            其他选项
          </li>
          <%= render :partial => "devise/links" %>
        </ul>
      </div>
    </div>
    -->
  </div>
</div>
