<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag "default" %>
  <%= yield :skin_head %>
  <%= csrf_meta_tags %>
</head>

<%= render_body_tag %>
  <%= render 'common/top_bar' %>

  <%= render 'common/notice', :span => 'span10 offset1' %>

  <div class="container">
    <%= yield %>
    <hr/>
  </div>
  <div class="container">
    <footer>
      <div class="pull-left" style="margin: 0 10px 0 10px;">
        <img src="/assets/rails.png" style="width:30px;">
      </div>
      <div>
        <p>
          <a href="/about">关于本站</a> | <a href="http://github.com/jasl/club-portal">Github</a><br>
          Created by Jasl, based on rails 3.2 and open source for learning.
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
